<ul class="list-group">
    <li class="nav-item active">
        <a class="nav-link" routerLink="/amazon-monitor-list-component" routerLinkActive="active">Amazon Monitors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/amazon-cases-list-component" routerLinkActive="active">Amazon Cases</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/amazon-cpu-list-component" routerLinkActive="active">Amazon CPUs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/amazon-gpu-list-component" routerLinkActive="active">Amazon GPUs</a>
      </li>
  </ul>