<div class="container-fluid">
    <h1>Bestselling  Cpus</h1>
    <h2 *ngIf="!amazonData">Loading...</h2>
        <div class="" *ngIf="amazonData">

            <!-- <div class="col-sm-8">       
                <a href="{{amazonData.request_metadata.amazon_url}}" class="col-sm-4" > Link to best selling cpus</a>
            </div> -->

            <amazon-cpu-details *ngIf="currentCpu" [amazonDataTwo]="amazonDataTwo" [cpu]="currentCpu"></amazon-cpu-details>
            
    <br>
    

    <div class="row justify-content-center">
        <div class="col-sm-2">
            <input type="text" class="form-control form-control-md" [(ngModel)]="searchTextCpuTitle" placeholder="Search By CPU Title" />
        </div>
    </div>

    <br>

    <div class="row card-header"> 
        <div [class.active]="order === 'title'" (click)="setOrder('title')" class="col-sm-3"> <h4>Title</h4> 
            <span *ngIf="order === 'title'">▼</span>
        </div>
        <div  class="col-sm-2"> <h4>Link</h4>
          
        </div>
        <div  class="col-sm-1"> <h4>Rank</h4> 
        </div>
        <div  class="col-sm-1"> <h4>Rating</h4> 
        </div>
        <div  class="col-sm-3"> <h4>Image</h4> 
            
        </div>
        <div  class="col-sm-2"> <h4>Price</h4> 
        </div>

        

    </div>

    <amazon-cpu-row class="card" *ngFor="let results of amazonData.bestsellers | orderBy: order:reverse:'case-insensitive' | filter : searchTextCpuTitle : 'title'"
    [cpu]="results"
    (click)='clicked(results)'
    [class.bg-info]="isSelected(results)" [class.text-white]="isSelected(results)"></amazon-cpu-row>
</div>
</div>
    
    