<div class="container-fluid">
    <h1>List Of CPU's</h1>
        <div class="" *ngIf="amazonData">

            <div class="col-sm-8">       
                <a href="{{amazonData.request_metadata.amazon_url}}" class="col-sm-4" > Link to best selling cpus</a>
            </div>
            
    <br>
    
    <div class="row justify-content-center">
        <div class="col-sm-2">
            <input type="text" [(ngModel)]="searchTextCpuTitle" placeholder="Search By CPU Title" />
        </div>
    </div>

    <div class="row card-header"> 
        <div [class.active]="order === 'title'" (click)="setOrder('title')" class="col-sm-3"> <h4>Title</h4> 
        </div>
        <div [class.active]="order === 'link'" (click)="setOrder('link')" class="col-sm-3"> <h4>Link</h4> 
        </div>
        <div  class="col-sm-1"> <h4>Rank</h4> 
        </div>
        <div  class="col-sm-1"> <h4>Rating</h4> 
        </div>
        <div  class="col-sm-2"> <h4>Image</h4> 
        </div>
        <div  class="col-sm-2"> <h4>Price</h4> 
        </div>

    </div>

    <div class="card" *ngFor="let results of amazonData.bestsellers | orderBy: order:reverse:'case-insensitive' | filter : searchTextCpuTitle : 'title'"
    [monitor]="results"
    (click)='clicked(results)'
    [class.bg-info]="isSelected(results)" [class.text-white]="isSelected(results)">       
    <div class="row card-body"> 
        <div class="col-sm-3 card-title">  <h5>{{results.title}}</h5> </div>
        <div class="col-sm-3"> <a href="{{results.link}}">{{results.title}}</a> </div>
        <div class="col-sm-1"> <h6>{{results.rank}}</h6> </div>
        <div class="col-sm-1"> <h6>{{results.rating}}</h6> </div>
        <div class="col-sm-2"> <img  class="images" src="{{results.image}}"/> </div>
        <div class="col-sm-2"> <h6>{{results.price.raw}}</h6> </div>
    </div>
    </div>
</div>
</div>
    
    