
<div class="container-md ">
    <ul class = "list-group">
        <li class = "list-group-item">
           <h3 class = "list-group-item-heading">All the details about {{cpu.id}}</h3>
           <p class = "list-group-item-text">Model: {{cpu.model}}</p>
           <p class = "list-group-item-text">Manufacturer: {{cpu.manufacturer}}</p>
           <p class = "list-group-item-text">Speed: {{cpu.speed}}</p>
           <p class = "list-group-item-text">Processors: {{cpu.processors}}</p>
           
        </li>
    </ul>
    </div>