<button type="button" class="close" aria-label="Close" (click)="closeForm()">
  <span aria-hidden="true">&times;</span>
</button>

<form (ngSubmit)="onSubmit()" [formGroup]="gpuForm" class="form-inline justify-content-center">


  <div class="row">
  <div class="form-group">
    <label class="control-label col-md-2" for="brand">
        Brand
      </label>
      <div class="col-md-3">
          <select type="text" class="form-control" formControlName="brand" placeholder="Enter brand"
          id="brand" required
          [(ngModel)] ="brandValue" name="brand">
                <option>MSI</option>
                <option>ASUS</option>
                <option>Corsair</option>
                <option>Gigabyte</option>
                <option>Palit</option>
          </select>
      </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-4" for="manufacturer">
        Manufacturer
      </label>
      <div class="col-md-2">
          <select type="text" class="form-control" formControlName="manufacturer" placeholder="Enter Manufacturer"
          id="manufacturer" required
          [(ngModel)] ="manufacturerValue" name="manufacturer">
                <option>NVIDIA</option>
                <option>AMD</option>
                <option>ASUS</option>
                <option>Intel</option>
                <option>EVGA</option>
          </select>
      </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="series">
        Series
      </label>
      <div class="col-md-1">
          <input type="text" class="form-control" formControlName="series" placeholder="Enter series"
          id="series" required
          [(ngModel)] ="seriesValue" name="series">
      </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="color">
        Color
      </label>
      <div class="col-md-1">
          <select type="text" class="form-control" formControlName="color" placeholder="Enter Color"
          id="color" required
          [(ngModel)] ="colorValue" name="color">
                <option>Red</option>
                <option>Black</option>
                <option>Blue</option>
                <option>Green</option>
                <option>White</option>
          </select>
      </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-3" for="hardDrive">
        Hard Drive
      </label>
      <div class="col-md-1">
          <select type="text" class="form-control" formControlName="hardDrive" placeholder="Enter hardDrive"
          id="hardDrive" required
          [(ngModel)] ="hardDriveValue" name="hardDrive">
              <option>2 GB</option>
              <option>3 GB</option>
              <option>6 GB</option>
              <option>8 GB</option>
              <option>12 GB</option>
          </select>
      </div>
  </div>


  <div class="col-sm">
    <button type="submit" [disabled]="!gpuForm.valid" class="btn btn-info">Submit</button>
  </div>

  </div>

</form>

<br>

<div class="row justify-content-center">
  <div *ngIf="brand.invalid && brand.touched" class="alert alert-danger col-sm-2" >
      Brand is required
  </div>
  <div *ngIf="manufacturer.invalid && manufacturer.touched"  class="alert alert-danger col-sm-2" >
      Manufacturer is required
  </div>
  
  <div *ngIf="series.invalid && series.touched" class="alert alert-danger col-sm-2" >
      Series is required
  </div>
  <div *ngIf="color.invalid && color.touched" class="alert alert-danger col-sm-2" >
      Color is required
  </div>
  <div *ngIf="hardDrive.invalid && hardDrive.touched" class="alert alert-danger col-sm-2" >
      hardDrive is required
  </div>
  
</div>


