<body>
<div class="container-fluid">
    <h1>List Of Monitors</h1>
    <h2 *ngIf="!amazonData">Loading...</h2>
        <div class="" *ngIf="amazonData">

            <div class="col-sm-8">       
                <a href="{{amazonData.request_metadata.amazon_url}}" class="col-sm-4" > Link to best selling monitors</a>
            </div>

            <amazon-monitor-details *ngIf="currentMonitor" [amazonDataTwo]="amazonDataTwo" [monitor]="currentMonitor"></amazon-monitor-details>
            
    <br>

    
    <div class="row justify-content-center">
        <div class="col-sm-2">
            <input type="text" [(ngModel)]="searchTextMonitorTitle" placeholder="Search By Monitor Title" />
        </div>
    </div>
    
    
    <div class="row card-header"> 
        <div [class.active]="order === 'title'" (click)="setOrder('title')" class="col-sm-2"> <h4>Title</h4> 
            <span *ngIf="order === 'title'">▼</span>
        </div>
        <div [class.active]="order === 'link'" (click)="setOrder('link')" class="col-sm-3"> <h4>Link</h4>
            <span *ngIf="order === 'link'">▼</span> 
        </div>
        <div  class="col-sm-1"> <h4>Rank</h4> 
        </div>
        <div  class="col-sm-1"> <h4>Rating</h4> 
        </div>
        <div  [class.active]="order === 'image'" (click)="setOrder('image')" class="col-sm-3"> <h4>Image</h4> 
            <span *ngIf="order === 'image'">▼</span>
        </div>
        <div  [class.active]="order === 'raw'" (click)="setOrder('raw')" class="col-sm-2"> <h4>Price</h4> 
            <span *ngIf="order === 'raw'">▼</span>
        </div>
        

    </div>

    <amazon-monitor-row class="card" *ngFor="let results of amazonData.bestsellers| orderBy: order:reverse:'case-insensitive' | filter : searchTextMonitorTitle : 'title'"
    [monitor]="results"
    (click)='clicked(results)'
    [class.bg-info]="isSelected(results)" [class.text-white]="isSelected(results)">       
    
    </amazon-monitor-row>
</div>
</div>

    