<div class="container-fluid">
    <h1>List Of Monitors</h1>
        <div class="" *ngIf="amazonData">

            <div class="col-sm-8">       
                <a href="{{amazonData.request_metadata.amazon_url}}" class="col-sm-4" > Link to best selling monitors</a>
            </div>
            
    <br>
    
    <div class="row card-header"> 
        <div class="col-sm-3"> <h4>Title</h4> 
        </div>
        <div class="col-sm-3"> <h4>Link</h4> 
        </div>
        <div class="col-sm-3"> <h4>Rank</h4> 
        </div>
        <div class="col-sm-3"> <h4>Rating</h4> 
        </div>

    </div>

    <div class="card" *ngFor="let results of amazonData.bestsellers"
    [monitor]="results"
    (click)='clicked(results)'
    [class.bg-info]="isSelected(results)" [class.text-white]="isSelected(results)">       
        <div class="row card-body"> 
            <div class="col-sm-3 card-title">  <h5>{{results.title}}</h5> </div>
            <div class="col-sm-3"> <a href="{{results.link}}">{{results.title}}</a> </div>
            <div class="col-sm-3"> <h6>{{results.rank}}</h6> </div>
            <div class="col-sm-3"> <h6>{{results.rating}}</h6> </div>
        </div>
    </div>
</div>
</div>
    
    