<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="">Pierce's PC Part-Picker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/amazon-monitor-list-component" routerLinkActive="active">Amazon-Monitors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/amazon-cases-list-component" routerLinkActive="active">Amazon-Cases</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/amazon-cpu-list-component" routerLinkActive="active">Amazon-CPU's</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/amazon-gpu-list-component" routerLinkActive="active">Amazon-GPU's</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/part-finder" routerLinkActive="active">Amazon Part Finder</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/monitor-list-component" routerLinkActive="active">Monitors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li  class="nav-item">
        <a class="nav-link" routerLink="/logout" routerLinkActive="active">Logout</a>
      </li>
      
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>




