
  <div class="wrapper">
    <div class="sign-panels">
        <div class="login">
            <div class="title">
                <span>Forgot Password</span>
                <p>To reset password please enter your email</p>
            </div>


            <form action="">
                <input type="email" class="form-control" placeholder="Email Address" #passwordResetEmail required>
                
               
                <a type="button" class="btn-signin" value="Sign in"
                (click)="ngAuthService.ForgotPassword(passwordResetEmail.value)">Reset Password</a>
              
            </form>
        </div>

    </div>
</div>

  
  