  <div class="wrapper">
    <div class="sign-panels">
        <div class="login">
            <div class="title">
                <span>Register User</span>
                <p>Please sign up to Pierce's Pc Part Picker</p>
            </div>


            <form action="">
                <input  type="email" class="form-control" placeholder="Email Address" #userEmail required>
                <input  type="password" class="form-control" placeholder="Password" #userPwd required>
               
                <a type="button" class="btn-signin" value="Sign in"
                (click)="ngAuthService.SignUp(userEmail.value, userPwd.value)">Sign Up</a>
              
            </form>

            <br>
            <a class="btn-google btn btn-danger" (click)="ngAuthService.GoogleAuth()">Google Sign In</a>

            <a routerLink="/sign-in" class="btn-member btn-fade">Sign In <i class="fa fa-long-arrow-right"
                aria-hidden="true"></i></a>
        </div>

        

        
    </div>
</div>
  

  
  