
<div class="right" *ngIf="gpus">

    <br>

    
    <div class="row card-header"> 
        <div [class.active]="order === 'id'" (click)="setOrder('id')" class="col card-title"> <h4>Gpu ID</h4> 
            <span *ngIf="order === 'id'">▼</span>
        </div>
        <div [class.active]="order === 'brand'" (click)="setOrder('brand')" class="col "> <h4>Brand</h4> 
            <span *ngIf="order === 'brand'">▼</span>
        </div>
        
        <div [class.active]="order === 'manufacturer'" (click)="setOrder('manufacturer')" class="col "> <h4>Manufacturer</h4> 
            <span *ngIf="order === 'manufacturer'">▼</span>
        </div>
        <div [class.active]="order === 'series'" (click)="setOrder('series')" class="col "> <h4>Series</h4> 
            <span *ngIf="order === 'series'">▼</span>
        </div>
        <div [class.active]="order === 'color'" (click)="setOrder('color')" class="col "> <h4>Color</h4> 
            <span *ngIf="order === 'color'">▼</span>
        </div>
        <div [class.active]="order === 'hardDrive'" (click)="setOrder('hardDrive')" class="col "> <h4>Hard Drive</h4> 
            <span *ngIf="order === 'hardDrive'">▼</span>
        </div>
        
    </div>

    
        <li >
            <div class="card"  *ngFor="let gpu of gpus | async; let i = index ">
                <div target="_blank" class="row card-body"> 
                <div class="col card-title">  <h5>{{gpu.id}}</h5> </div>
                <div class="col"> <h6>{{gpu.brand}}</h6> </div>
                <div class="col"> <h6>{{gpu.manufacturer}}</h6> </div>
                <div class="col"> <h6>{{gpu.series}}</h6> </div>
                <div class="col"> <h6>{{gpu.color}}</h6> </div>
                <div class="col"> <h6>{{gpu.hardDrive}}</h6> </div>
                </div>
                <!--<button type="button" class="btn col btn-sm btn-primary product-btn" (click)="handleAddToCart()">Add to Cart</button>-->
            </div>
      </li>
   
  
  </div>