
 <body>
    <div class="container-fluid">
        <h2 *ngIf="!showGpuForm && !currentGpu">List of Gpus - This is on Firebase</h2>

        <h2  *ngIf="showGpuForm">Gpu Form</h2>
        <app-gpu-form *ngIf="showGpuForm" 
        (gpuFormClose)="gpuFormClose($event)" [gpu]="currentGpu"></app-gpu-form>  

       
    
        <h2 class="h2Centered"  *ngIf="currentGpu">Gpu Details</h2>

        <app-gpu-details *ngIf="currentGpu" [gpu]="currentGpu"></app-gpu-details>

        <br *ngIf="!showGpuForm">
        
    
        <div class="row justify-content-center">
            <div class="col-sm-1">
                <button (click)="openCreateGpu()" *ngIf="!showGpuForm"
                class="btn btn btn-outline-primary" >Add Gpu</button>
            </div>
            
            <div class="col-sm-1">
                <button (click)="openEditGpu()" *ngIf="!showGpuForm" [disabled]="!currentGpu"
                class="btn btn btn-outline-secondary" >Edit Gpu</button>
            </div>
            
            <div class="col-sm-2">
                <button (click)="openDeleteGpu(currentGpu.id)" *ngIf="!showGpuForm" [disabled]="!currentGpu"
                class="btn btn btn-outline-danger" >Delete Gpu</button>
            </div>
        </div>
    
        <br *ngIf="!showGpuForm">
    

        
    
    
        <h2 *ngIf="showGpuForm || currentGpu">List of Gpus</h2>
        
        
    <h2 *ngIf="message">{{message}}</h2>
    
        
    
    <div class="row justify-content-center">
        <div class="col-sm-2">
            <input type="text" class="form-control form-control-md" [(ngModel)]="searchTextGpuID" placeholder="Search By Gpu ID" />
        </div>
    
        <div class="col-sm-2">
            <input type="text" class="form-control form-control-md" [(ngModel)]="searchTextBrand" placeholder="Search By Brand" />
        </div>
    
    
       
    
        <div class="col-sm-2">
            <input  type="text" class="form-control form-control-md" [(ngModel)]="searchTextManufacturer" placeholder="Search By Manufacturer" />
        </div>    
    
        <div class="col-sm-2">
            <input type="text" class="form-control form-control-md" [(ngModel)]="searchTextSeries" placeholder="Search By Series" />
        </div>

        <div class="col-sm-2">
            <input type="text" class="form-control form-control-md" [(ngModel)]="searchTextColor" placeholder="Search By Color" />
        </div>

        <div class="col-sm-2">
            <input type="text" class="form-control form-control-md" [(ngModel)]="searchTextHardDrive" placeholder="Search By Hard Drive" />
        </div>
    </div>
    
    <br>
    
   
    
    <div class="row card-header"> 
        <div [class.active]="order === 'id'" (click)="setOrder('id')" class="col card-title"> <h4>Gpu ID</h4> 
            <span *ngIf="order === 'id'">▼</span>
        </div>
        <div [class.active]="order === 'brand'" (click)="setOrder('brand')" class="col "> <h4>Brand</h4> 
            <span *ngIf="order === 'brand'">▼</span>
        </div>
        
        <div [class.active]="order === 'manufacturer'" (click)="setOrder('manufacturer')" class="col "> <h4>Manufacturer</h4> 
            <span *ngIf="order === 'manufacturer'">▼</span>
        </div>
        <div [class.active]="order === 'series'" (click)="setOrder('series')" class="col "> <h4>Series</h4> 
            <span *ngIf="order === 'series'">▼</span>
        </div>
        <div [class.active]="order === 'color'" (click)="setOrder('color')" class="col "> <h4>Color</h4> 
            <span *ngIf="order === 'color'">▼</span>
        </div>
        <div [class.active]="order === 'hardDrive'" (click)="setOrder('hardDrive')" class="col "> <h4>Hard Drive</h4> 
            <span *ngIf="order === 'hardDrive'">▼</span>
        </div>
        
    </div>
     
    <!-- <ul>
    <li *ngFor="let gpu of MyGpus"> {{ gpu.id }} -  {{ gpu.brand }} -  {{ gpu.color }} </li>
  </ul>
 

  
  <li *ngFor="let gpu of MyGpus"> 
    <button class="btn" (click)="deleteGpu(gpu.id)">Delete Gpu</button>
    {{ gpu.id }} -  {{ gpu.brand }} -  {{ gpu.manufacturer }} - {{ gpu.series }} -  {{ gpu.color }} -  {{ gpu.hardDrive }} 
  </li>
-->
    
    <gpu-row  class="card" *ngFor="let g of MyGpus| orderBy: order:reverse:'case-insensitive' | filter : searchTextGpuID : 'id' 
    | filter : searchTextBrand : 'brand'| filter : searchTextManufacturer : 'manufacturer' | filter : searchTextSeries : 'series' 
    | filter : searchTextColor : 'color' | filter : searchTextHardDrive : 'hardDrive'"
    [gpu]="g"
    (click)='clicked(g)'
    [class.bg-info]="isSelected(g)" [class.text-white]="isSelected(g)"></gpu-row>
    
    
    
        
    </div>
    
    
    </body>
    