
<div class="container-md ">
    <ul class = "list-group">
        <li class = "list-group-item">
           <h3 class = "list-group-item-heading">All the details about {{gpu.id}}</h3>
           <p class = "list-group-item-text">Brand: {{gpu.brand}}</p>
           <p class = "list-group-item-text">Manufacturer: {{gpu.manufacturer}}</p>
           <p class = "list-group-item-text">Series: {{gpu.series}}</p>
           <p class = "list-group-item-text">Color: {{gpu.color}}</p>
           <p class = "list-group-item-text">Hard Drive: {{gpu.hardDrive}}</p>
           <button type="button" class="btn col btn-sm btn-primary product-btn" (click)="handleAddToPc()">Add to PC</button>
        </li>
    </ul>
    </div>