<br>
<form  [formGroup]="CpuForm" class="form-inline justify-content-center">

    <div class="row">

        <div class="form-group">
            <label class="control-label col-md-2" for="id">
                ID
              </label>
              <div class="col-md-2">
                  <input type="text" class="form-control" formControlName="id"  #id placeholder="Enter id"
                  id="id" required
                   name="id">
              </div>
          </div>

    <div class="form-group">
      <label class="control-label col-md-2" for="model">
          Model
        </label>
        <div class="col-md-2">
            <input type="text" class="form-control" formControlName="model"  #model placeholder="Enter model"
            id="model" required
            name="model">
        </div>
    </div>



    <div class="form-group">
      <label class="control-label col-md-4" for="manufacturer">
          Manufacturer
        </label>
        <div class="col-md-2">
            <select type="text" class="form-control" formControlName="manufacturer"  #manufacturer placeholder="Enter Manufacturer"
            id="manufacturer" required
             name="manufacturer">
                <option>Intel</option>
                <option>AMD</option>
            </select>
        </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-1" for="speed">
          Speed
        </label>
        <div class="col-md-1">
            <select type="text" class="form-control" formControlName="speed"  #speed placeholder="Enter speed"
            id="speed" required
             name="speed">
            <option>2.5 GHz</option>
            <option>2.7 GHz</option>
            <option>2.9 GHz</option>
            <option>3.1 GHz</option>
            <option>3.3 GHz</option>
            <option>3.4 GHz</option>
            <option>3.7 GHz</option>
            <option>3.9 GHz</option>
            </select>
        </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-3" for="processors">
          Processors
        </label>
        <div class="col-md-2">
            <select type="text" class="form-control" formControlName="processors" #processors placeholder="Enter Processors"
            id="processors" required
            name="processors">
                <option>4 Cores</option>
                <option>6 Cores</option>
                <option>8 Cores</option>
            </select>
        </div>
    </div>


    <div class="col-sm">
      <button type="submit" (click)="addCpu(id.value,model.value,manufacturer.value,speed.value,processors.value)" class="btn btn-info">Submit</button>
    </div>

    </div>

  </form>

  <br>

