<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>Welcome to the PC Part Picker Website</h1> 
            </div>
            <div class="col-sm-4">
                <img class=" h-50 w-50" src="{{Logo}}"/>
            </div>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel velit et ligula malesuada tincidunt. 
            Quisque ac consectetur urna. Proin eget quam auctor, interdum est eu, euismod elit. Etiam luctus accumsan ipsum id tincidunt. 
            Nunc leo ligula, fringilla quis risus eget, sollicitudin dapibus dolor. Vestibulum ut dictum lacus, in aliquam est. Mauris ac interdum mi, 
            in varius felis. In ornare bibendum condimentum. 
        </p>
        <p>
            In ligula velit, fermentum hendrerit ultricies at, venenatis nec sem. Morbi at nisl lectus. Nam at purus facilisis, cursus mauris sit amet, 
            fermentum velit. Praesent a dolor iaculis, lacinia quam dapibus, rhoncus massa. Fusce facilisis massa vitae ligula egestas, sed volutpat felis convallis. 
            Sed rutrum efficitur orci, sit amet hendrerit ligula lacinia vitae. Ut blandit metus ligula, vel porttitor nulla consectetur ut. 
            Donec ut rutrum justo, vel pretium ipsum. Morbi eget facilisis nisl, in finibus ipsum. Duis neque mauris, condimentum ac leo a, porta pharetra nibh. 
            Curabitur ut dolor metus. Sed facilisis elit non dapibus dapibus. Sed nec sem in turpis finibus ullamcorper sit amet ut diam. Nam rutrum a orci non scelerisque.
             In pretium faucibus sapien at cursus. Suspendisse leo leo, auctor in elementum ac, ultricies eget erat.
        </p>
        <p>
            Cras eget porta elit. 
            Sed mollis mollis nunc, ac pellentesque metus condimentum eu. 
            Aenean eleifend magna quis est faucibus tempus. Suspendisse faucibus est quis commodo lacinia. Sed hendrerit ipsum bibendum ipsum consectetur sodales. 
            Etiam semper gravida arcu id dignissim. Vivamus arcu enim, pretium eu eros dictum, placerat fermentum eros. Cras sit amet dapibus felis. Morbi ornare augue ac 
            ante fermentum, vel finibus risus pharetra. Vestibulum et vestibulum elit, fringilla pellentesque nibh. Nam ex leo, rhoncus blandit laoreet scelerisque, 
            dapibus vitae urna. Fusce pulvinar leo nec mauris ultrices sodales. Aliquam tellus elit, semper et malesuada vel, ornare et sapien. Interdum et malesuada 
            fames ac ante ipsum primis in faucibus. Vestibulum blandit, augue a ornare tempor, diam eros suscipit diam, a mattis ante enim eget nibh. Ut mollis, libero 
            non congue dictum, ex tortor suscipit ex, non ultrices justo est nec enim.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel velit et ligula malesuada tincidunt. 
            Quisque ac consectetur urna. Proin eget quam auctor, interdum est eu, euismod elit. Etiam luctus accumsan ipsum id tincidunt. 
            Nunc leo ligula, fringilla quis risus eget, sollicitudin dapibus dolor. Vestibulum ut dictum lacus, in aliquam est. Mauris ac interdum mi, 
            in varius felis. In ornare bibendum condimentum. 
        </p>
    </div>
  </div>