<div class="container-fluid">
  <h1>Your PC Part List</h1>
<div *ngIf="userItems.length === 0" class="alert alert-info">Your PC List is Empty.</div>
<div *ngIf="userItems.length > 0" class="col-sm-12">

  <div class="row "> 
  
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-2">
      <button (click)="openDeleteItem(currentItem.id)"  [disabled]="!currentItem"
      class="btn btn btn-outline-danger" >Delete Pc Part</button>
  </div>
  </div>

  <br>

<div class="row card-header"> 
  <div  class="col-sm-2"> <h4>Title</h4> 
     
  </div>
  <div  class="col-sm-2"> <h4>Link</h4>
      
  </div>
  <div  class="col-sm-2"> <h4>Price</h4> 
  </div>
  <div  class="col-sm-2"> <h4>Rating</h4> 
  </div>
  <div    class="col-sm-2"> <h4>Asin</h4> 
     
  </div>
  <div  class="col-sm-2"> <h4>Image</h4> 
  </div>
  

</div>

</div>

<ul *ngIf="userItems.length > 0" class="list-group">
  <li  *ngFor="let item of userItems" 
  (click)='clicked(item)'
  [class.bg-info]="isSelected(item)" 
  [class.text-white]="isSelected(item)">
    <user-item *ngIf="newUser.uid === item.userID"  [userItem]="item"
    ></user-item>
    
  </li>

  <li class="list-group-item active">
    <strong>Total</strong> {{ userTotal | currency:'USD' }}
  </li>
</ul>

</div>


