<div *ngIf="userItems.length === 0" class="alert alert-info">Your PC List is Empty.</div>
<div *ngIf="userItems.length > 0" class="col-sm-2">
  <button (click)="openDeleteItem(currentItem.id)"   [disabled]="!currentItem"
  class="btn btn btn-outline-danger" >Delete Pc Part</button>
</div>

<ul *ngIf="userItems.length > 0" class="list-group">
  <li  *ngFor="let item of userItems"
  [userItem]="item"
  (click)='clicked(item)'
  [class.bg-info]="isSelected(item)" [class.text-white]="isSelected(item)">
    <user-item  [userItem]="item"></user-item>
  </li>

  <li class="list-group-item active">
    <strong>Total</strong> {{ userTotal | currency:'USD' }}
  </li>
</ul>
